[user]
	email = jdj.dev90@gmail.com
	name = Jordan
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = store
[includeIf "gitdir:~/code/work/convert_digital/temple-and-webster/"]
    path = ~/.gitconfig-template_and_webster-github
[includeIf "gitdir:~/code/work/convert_digital/temple-and-webster/storefront-bff/"]
    path = ~/.gitconfig-template_and_webster-gitlab
[includeIf "gitdir:~/code/work/convert_digital/"]
    path = ~/.gitconfig-convert
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
  default = current
[alias]
  undo = reset --soft HEAD^
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true
  side-by-side = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
